<form method="post" id="add_cat_form">
	<div class="messages">

	</div>
	<div class="inpug-group">
		<label for="category">Category Name: </label>
		<input class="form-control" type="text" pattern="[A-Za-z ]+" name="category" required />
	</div>
	<div class="input-group">
		<label for="cat_notes">Notes: (ie: Lunch: 11am - 4pm, Mon-Fri)</label>
		<textarea cols="25" rows="5" class="form-control" name="cat_notes" />
	</div>
	<div class="btn-group">
		<button class="btn btn-primary">Add</button>
	</div>
</form>